* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container .tenor-gif-embed {
    max-width: 200px;
    border: solid;
    border-radius: 6px;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #15171f;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-width: 500px;
    margin: 0 auto;
    padding: 2em;
    text-align: center;
    border-radius: 10px;
    position: relative;
    background: #1c1f2b;
    color: #fff;
    
}

@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
.container::after, .container::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: red;
    top: 0px;
    border-radius: 10px;
    z-index: -1;
    padding: 2px;
    background-image: conic-gradient(from var(--angle),transparent ,#ff4545, #00ff99, #006aff, #ff0095 ,#ff4545);  
    animation: 3s spin linear infinite;
}

.container::before {
    filter: blur(1.5rem);
    opacity: 0.5;
}

@keyframes spin {
    from{
        --angle: 0deg;
    } to {
        --angle: 360deg
    }
}


#container .btn {
    display: flex ;
    gap: 0px 25px;
    
}

.btn a {
    text-decoration: none;
    color: #fff;
    background: #322828;
    padding: 10px 25px;
    border-radius: 1000px;
    border: 1px solid #006aff;
    box-shadow: 0.5rem 1rem 3rem hsla(0, 67%, 29%, 0.3);
    gap: 20px; 
    transition: background 0.23s;
}

.btn a:hover{
    color: #000000;
    transition-delay: 0.1s;
    background: hsl(240, 91%, 86%, 0.7);
    border: 1px solid red;
}

